/*
Theme Name:     CPIPR
Theme URI:      http://cpipr.org
Description:    A child theme for CPIPR based on the Project Largo parent theme.
Author:         Adam Schweigert/INN
Author URI:     http://largoproject.org
Template:       largo
Version:        0.1.0
*/

body {
  background: #fff; /*#eee;*/
  font-family: "proxima-nova", Helvetica, Tahoma, Arial, sans-serif;
  font-size: 12px;
  color: #666;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "proxima-nova", Helvetica, Tahoma, Arial, sans-serif;
}
.entry-content p {
  font-size: 16px;
  font-weight: 300;
}
.entry-content a,
.archive-background .related-topics ul a {
  color: #D45F34;
}
.widget a,
.jiffypost a,
.related-items a,
#related-post-nav a,
.stories h2.entry-title a,
.post-meta a {
  color: #333;
  text-decoration: none;
}
.widget a:hover,
.jiffypost a:hover,
.related-items a:hover {
  color: #555;
}
.global-nav-bg {
  padding: 5px 0px;
}
#site-header img {
  position: relative;
  z-index: 0;
  margin: 0;
}
#site-header .header-buttons {
  position: relative;
  float: right;
  margin-top: -115px;
  margin-right: 20px;
  z-index: 1;
}
#site-header .header-buttons a {
  display: block;
  clear: both;
  margin-bottom: 20px;
}
.global-nav,
#page,
#site-footer,
#footer-logos,
.before-footer {
  max-width: 1170px;
}
.navbar {
  background: url("images/mainnav-bg.gif") repeat-x scroll left bottom #F7931E;
}
.navbar .divider-vertical {
  background: #F7931E;
  border-left: 1px solid #BB522C;
}
.navbar-inner {
  background: url("images/mainnav-bg.gif") repeat-x scroll left bottom #D45F34;
  padding-bottom: 6px;
  border-top: 1px solid #BB522C;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.navbar .active>a,
.navbar .active>a:hover,
.navbar li > a:hover,
.navbar .nav li.dropdown.active>.dropdown-toggle:hover {
  background: url("images/hover-menu.gif") repeat-x scroll left top #e5e5e5;
  color: #666;
  padding-bottom: 13px;
  border-left: 1px solid #fff;
}
.navbar a {
  border-left: 1px solid #BB522C;
}
.navbar .home-link,
.navbar .divider-vertical {
  display: none;
}
.dropdown-menu {
  background: #fff;
  padding: 5px;
}
.dropdown-menu li {
  background: #fff; /*#222;*/
}
.dropdown-menu li a {
  color: #666;
  border-left: 0px;
}
.dropdown-menu li a:hover,
.navbar .dropdown-menu .active>a,
.navbar .dropdown-menu .active>a:hover {
  background: none;
  color: #fff;
  background-color: #111;
}
.navbar .dropdown-menu .active>a, .navbar .dropdown-menu .active>a:hover, .navbar .dropdown-menu li > a:hover {
  padding-bottom: 3px;
}
#secondary-nav {
  float: right;
  margin-top: -45px;
  line-height: 31px;
}
#secondary-nav a {
  color: #fff;
}
#secondary-nav li.menu-item {
  background: #DF0055;
  border: 2px solid #000;
  padding: 7px;
}
.stories h2.entry-title,
.second-content h2.entry-title {
  font-size: 21px;
  line-height: 1.1;
  margin: 0px;
  padding: 0 0 10px;
  color: #333;
}
.stories .entry-content p {
  font-size: 15px;
  line-height: 1.35;
}
#content .jiffypost h2,
#content .jiffypost h2.entry-title,
.second-content .jiffypost h2 {
  font-size: 14px;
  line-height: 1.0;
  margin: 0px;
  padding: 0 0 10px;
}
#content .jiffypost h2 a,
.second-content .jiffypost h2 a {
  font-size: 14px;
  line-height: 1.0;
  margin: 0px;
  padding: 0 0 10px;
}
h1.entry-title {
  font-size: 36px;
  font-weight: 700;
}
h2.subtitle {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 12px;
  font-style: italic;
}
.widgettitle,
.stories h3.widgettitle {
  background-color: #D45F34;
}
.widgettitle a {
  color: #fff;
}
.widgettitle a:hover {
  color: #eee;
}
.tags ul li,
#related-post-nav a.selected {
  background-color: #555;
}
.tags ul li:hover {
  background-color: #999;
}
.module.type-aside.align-left {
  border-right: 3px solid #ccc;
  padding: 20px;
  background-color: #f9f9f9;
}
.module.type-aside h3 {
  font-size: 18px;
}
.module.type-aside p {
  font-size: 12px;
  margin-bottom: 10px;
}
#content-main {
  border: 1px solid #ddd;
  padding: 10px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
article.post {
  padding: 10px;
  border: 1px solid #efefef;
  margin-bottom: 10px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
.before-footer {
  margin: 12px auto 24px;
  text-align: center;
  border: 1px solid #ddd;
  padding: 10px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
.before-footer img {
  padding: 5px;
}
.rss-div, .subscribe-div {
  float: left;
}
.rss-subscribe-div {
  position: absolute;
  right: 10px;
  top: 20px;
}
.widget.largo-child-delared h5 {
  font-size: 16px;
}
.widget.largo-child-delared p {
  font-size: 11px;
  margin-top: 8px;
  padding: 0;
}
h6,
.entry-content h5 {
  font-size: 11px;
}
.continue-reading, .continue-reading a {
  float: right;
  color: #D45F34;
}
.continue-reading a:hover {
  color: #F7931E;
}
article img.attachment-post-thumbnail {
  float: left;
  margin: 0px 20px 10px 0px;
}
#menu-footer-navigation li, #supplementary ul.menu li {
  border: 0px;
}
#site-footer .widgettitle, #site-footer li.menu-label {
  border: 0px;
}
.carousel-inner {
  background: #efefef;
}
.largo-child-delared h5 {
  margin: 0px 0px 5px;
}
.archive-background .related-topics ul {
  margin-top: 0;
}
.page-template-page-series-php .item {
  margin-bottom: 24px;
}
.page-template-page-series-php .item h3 {
  margin-bottom: 0;
  font-size: 24px;
}
.en_version_link span {
  font-size: 18px;
  font-weight: bold;
}
@media (max-width: 1050px) {
  .nav-collapse,
  .nav-collapse.collapse {
    overflow: hidden !important;
    height: 0 !important;
  }
  .nav-collapse.collapse.in {
    overflow: visible !important;
    height: auto !important;
  }
  .navbar .btn-navbar {
    display: block;
    background-color: #fff;
  }
  .navbar .btn-navbar:hover {
    background-color: #dedede;
  }
  .navbar .btn-navbar .label {
    color: #333;
    text-shadow: none;
  }
  .navbar .btn-navbar .icon-bar {
    background-color: #333;
  }
  .nav-collapse {
    clear: both;
  }
  .nav-collapse .nav {
    float: none;
    margin: 0 0 12px;
  }
  .nav-collapse .nav > li,
  .nav-collapse .nav > span > li {
    float: none;
    display: list-item;
  }
}
@media (min-width: 980px) and (max-width: 1170px) {
  #site-header .header-buttons {
    margin-top: -100px;
  }
  #site-header .header-buttons a {
    margin-bottom: 10px;
  }
}
@media (max-width: 979px) {
  #site-header .header-buttons {
    margin-top: -120px;
  }
  #site-header .header-buttons a {
    margin-bottom: 10px;
  }
}
@media (max-width: 870px) {
  .nav.hidden-phone{
    display:none !important;
  }
  .nav .visible-phone{
    display: inherit !important;
  }
}
@media (max-width: 768px) {
  #site-header .header-buttons {
    margin-right: 0;
    margin-left: 20px;
    float: left;
    margin-top: -45px;
  }
  #site-header .header-buttons a {
    float: left;
    clear: none;
  }
}
@media (max-width: 670px) {
  #site-header .header-buttons {
    margin: 0;
    padding-top: 10px;
    background-color: #F7931E;
    width: 100%;
  }
}
